<div class="container-fluid">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-lg-8 col-md-8 col-12 m-0 p-0">

        <app-single-image-carousel [modelDatas]="productShortInfos"></app-single-image-carousel>

      </div>
      <div class="col-lg-4 col-md-4 col-12 m-0 p-0">
        <div class="row">
          <div class="col-12">
            <div class="product-info-with-image">
              <img src="assets/Technology/productimage/pi3.jpg" class="my-image-size" title="desk setuo">
              <span class="product-info fs-4 text-muted">
                <span class=" fw-bolder">New Offer</span><br>
                <span class="text-blue fw-bolder">New table setup</span><br>
                <span class="text-red fw-bolder">$200.99</span>
              </span>
            </div>
          </div>
          <div class="col-12">
            <div class="product-info-with-image product-blur">
              <img src="assets/Technology/productimage/pi4.jpg" class="my-image-size" title="desk setuo">
              <span class="product-info fs-4 text-muted align-items-center">
                <span class="text-white fw-bolder">Find your new Kal boisakhi offer</span><br>
              </span>
              <button class="btn btn-primary text-white my-button" type="button">Shop Now</button>
              <div class="for-blur"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
