<div class="card bg-transparent">
  <div class="card-header bg-light border-0 p-0">
    <img src="assets/shortProduct/ps2.jpg" title="unknown" class="img-thumbnail card-img-top">
  </div>
  <div class="card-body p-1">
    <span class="badge bg-secondary fs-6">Mobile</span> <br>
    <span class="text-info fw-bold">Leptop Allienware 15 i7 perfect for playing game</span><br>
    <span>Rating</span><br>
    <div class="d-flex justify-content-between align-items-center">
      <span>$500</span>
      <span><button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-cart"></i>
      </button></span>
    </div>
  </div>
</div>
