.card {
  height: 350px;
  width: 20%;
  border-radius: 7.5px 30px 7.5px 30px;
}
.card-header{
  border-radius: 7.5px 30px 7.5px 30px;
}
.img-fluid {
  border-radius: 7.5px 30px 7.5px 30px !important;
  cursor: pointer;
}
.img-thumbnail{
  border-radius: 7.5px 30px 7.5px 30px !important;
  cursor: pointer;
}
