<div class="container">
  <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
                  <img src="assets/carouse/image1.jpg" class="img-fluid h-25 w-100" alt="Random first slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
                  <img src="assets/carouse/image3.jpg" class="img-fluid h-25 w-100" alt="Random second slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
                  <img src="assets/carouse/image2.jpg" class="img-fluid h-25 w-100" alt="Random third slide">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
