<div class="input-group">
  <span class="dropdown-field">

    <div class="overflow-hidden">
      <div ngbDropdown container="body">
        <span class="px-3" ngbDropdownToggle>All Categories</span>

        <ul ngbDropdownMenu class="list-group mt-3 p-0 ">
                  <li ngbDropdownItem class="list-group-item">
                                <span>Leptop</span>
                  <li ngbDropdownItem class="list-group-item">
                                <span>Desktop</span>
                  <li ngbDropdownItem class="list-group-item">
                                <span>Software</span>
                  <li ngbDropdownItem class="list-group-item">
                                <span>Component</span>
                  <li ngbDropdownItem class="list-group-item">
                                <span>Accesories</span>
        </ul>
      </div>
    </div>

  </span>
  <input class="form-control rounded-0 search-field" placeholder="Search Products & Store..."
         aria-label="Search Products & Store">

  <span class="search-span rounded-circle">
    <i class="bi bi-search"></i>
  </span>
</div>
