.nav-link{
  color: black !important;
}
.change-animation{
  color: black;
  transition: all 0.3s;
  transform: scale(0.95);
  opacity: 0.9;
}
.change-animation:hover{
  color: #0a5286;
  cursor: pointer;
  transform: scale(1);
  opacity: 1;
}
