<div class="container pb-5">
  <h3 class="d-flex justify-content-center pb-3">Promotions</h3>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">

      <!--      <iframe class="ratio ratio-1x1" [src]="item.videoUrl"></iframe>-->
      <iframe class="ratio ratio-1x1" height="450" src="https://www.youtube.com/embed/WnqvZ7eaOUA"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>

    </div>
    <div class="col-lg-6 col-md-6 col-12">

      <!--      <iframe class="ratio ratio-1x1" [src]="item.videoUrl"></iframe>-->
      <iframe class="ratio ratio-1x1" height="450" src="https://www.youtube.com/embed/QvJ1huOiWIA"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>

    </div>
  </div>

</div>
