<div class="container-fluid bg-light">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center py-2">
      <div>
        <span>Welcome To Smarttech Center</span>
      </div>

      <div>
        <div class="d-flex gap-2 align-items-center">
          <div class="border-end pe-2">
            <a routerLink="#" class="text-decoration-none">Login/Register</a>
          </div>
          <div class="border-end pe-2">
            <a routerLink="#" class="text-decoration-none">Store Location</a>
          </div>
          <div class="border-end pe-2">
            <a routerLink="#" class="text-decoration-none">FAQ</a>
          </div>
          <div class="border-end pe-2">
            <a routerLink="#" class="text-decoration-none">Newsletter</a>
          </div>
          <div class="border-end pe-2">

            <div class="overflow-hidden">
              <div ngbDropdown container="body">
                <div ngbDropdownToggle>
                  <img src="assets/lang-icons/bangladesh.png" class="img-fluid pe-2">
                  <span>Bn</span>
                </div>
                <ul ngbDropdownMenu class="list-group">
                  <li class="list-group-item" routerLink="#">
                      <img src="assets/lang-icons/united-states.png" class="img-fluid pe-2">
                      <span>En</span>
                  </li>
                  <li class="list-group-item" routerLink="#">
                      <img src="assets/lang-icons/canada.png" class="img-fluid pe-2">
                      <span>Can</span>
                  </li>
                  <li class="list-group-item" routerLink="#">
                      <img src="assets/lang-icons/india.png" class="img-fluid pe-2">
                      <span>Ind</span>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="border-end pe-2">

            <div class="overflow-hidden">
              <div ngbDropdown container="body">
                <div ngbDropdownToggle>
                  [Taka]
                  <span>Bn</span>
                </div>
                <ul ngbDropdownMenu class="list-group">
                  <li class="list-group-item" routerLink="#">
                    [Doller]
                    <span>USD</span>
                  </li>
                  <li class="list-group-item" routerLink="#">
                    [Doller]
                    <span>CAN</span>
                  </li>
                  <li class="list-group-item" routerLink="#">
                    [Rupi]
                    <span>Ind</span>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="pe-2">
            <img src="assets/icon/16pxIcons/facebook.png" class="img-fluid pe-2" title="facebook" alt="facebook">
            <img src="assets/icon/16pxIcons/youtube.png" class="img-fluid pe-2" title="youtube" alt="youtube">
            <img src="assets/icon/16pxIcons/instagram.png" class="img-fluid pe-2" title="instagram" alt="instagram">
            <img src="assets/icon/16pxIcons/twitter.png" class="img-fluid pe-2" title="twitter" alt="twitter">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
