.card-grid {
  position: relative;
}

.grid-badge {
  position: absolute;
  top: 1em;
  right: 1em;
}

//.display-5{
//  font-size: 1.5rem;
//}
//.display-6{
//  font-size: 1.2rem;
//}
.text-black{
  color: black;
}
