<div class="container-fluid">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-between"
             id="navbarSupportedContent">
          <form class="d-flex form-border bg-white">
            <input class="form-control input-border fs-6" type="text" placeholder="Search..." aria-label="Search">
            <div class="input-group-append">
              <i class="bi bi-search fs-6"></i>
            </div>
          </form>

          <a class="navbar-brand" href="#">
            <img src="assets/logo/logo4.jpg" height="75px" width="400px" alt="logo">
            <!--          <img src="assets/logo/logo4.jpg" class="img-fluid" alt="logo">-->
          </a>

          <div class="d-flex justify-content-between text-muted">
            <a class="navbar-brand" href="#">
              <i class="bi bi-telephone fs-6"></i>
            </a>
            <a class="navbar-brand" href="#">
              <i class="bi bi-person fs-6"></i>
            </a>
            <a class="navbar-brand" href="#">
              <i class="bi bi-heart fs-6"></i>
            </a>
            <a class="navbar-brand" href="#">
              <i class="bi bi-bag fs-6"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
