<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <form class="d-flex align-items-center form-border bg-white px-4">
          <input class="form-control input-border" type="text" placeholder="Search..." aria-label="Search">
          <!--        <i class="bi bi-search"></i>-->
          <!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
          <div class="input-group-append">
            <i class="bi bi-search"></i>
          </div>
        </form>

        <a class="navbar-brand" href="#">
          <!--            <img src="assets/logo/logo3.jpg" height="50px" width="100%" alt="logo">-->
          <img src="assets/logo/logo4.jpg" class="img-fluid" alt="logo">
        </a>

        <div class="d-flex justify-content-between text-muted">
          <a class="navbar-brand" href="#">
            <i class="bi bi-telephone fs-4"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-person fs-4"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-heart fs-4"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-bag fs-4"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
