<div class="container pt-4 pb-4">

  <h3 class="d-flex justify-content-center pb-4">Most Viewed Categories</h3>

  <div class="d-flex">
    <div class="col-10 offset-1">

      <!--      <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" (change)="getChangeData($event)" (changed)="getChangedData($event)" #owlCar>-->
      <!--        <ng-container *ngFor="let item of images">-->
      <!--          <ng-template carouselSlide [id]="item.id" [width]="item.width">-->
      <!--            <div class="mx-2">-->
      <!--              <img [src]="item.imgSrc" width="350px" height="375px" alt="Img Src">-->
      <!--            </div>-->
      <!--          </ng-template>-->
      <!--        </ng-container>-->
      <!--      </owl-carousel-o>-->

      <!--      <owl-carousel-o [options]="customOptions" #owlCat>-->
      <!--        <ng-container *ngFor="let image of categories">-->
      <!--          <ng-template carouselSlide>-->
      <!--            <div class="p-3">-->
      <!--              <img [src]="image.imageUrl" class="" height="350" width="200">-->

      <!--              &lt;!&ndash;              <div class="card">&ndash;&gt;-->
      <!--              &lt;!&ndash;                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">&ndash;&gt;-->
      <!--              &lt;!&ndash;                  <img [src]="image.imgSrc" height="350" width="200" />&ndash;&gt;-->
      <!--              &lt;!&ndash;                  <a href="#!">&ndash;&gt;-->
      <!--              &lt;!&ndash;                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>&ndash;&gt;-->
      <!--              &lt;!&ndash;                  </a>&ndash;&gt;-->
      <!--              &lt;!&ndash;                </div>&ndash;&gt;-->
      <!--              &lt;!&ndash;                <div class="card-body">&ndash;&gt;-->
      <!--              &lt;!&ndash;                  <h5 class="card-title">Category title</h5>&ndash;&gt;-->
      <!--              &lt;!&ndash;                </div>&ndash;&gt;-->
      <!--              &lt;!&ndash;              </div>&ndash;&gt;-->


      <!--            </div>-->
      <!--          </ng-template>-->
      <!--        </ng-container>-->
      <!--      </owl-carousel-o>-->

      <app-global-carousel [products]="products" [isCategory]="isCategory"></app-global-carousel>

    </div>
  </div>

</div>
