<div class="container-fluid bg-white py-4">
  <div class="container">
    <div class="row justify-content-around align-items-center py-2">
      <div class="col-lg-3 col-md-12 col ">
        <img src="assets/logo/smartlogo.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-12 col ">
        <app-technology-search></app-technology-search>
      </div>
      <div class="col-lg-3 col-md-12 col ">
        <app-cart-short-view></app-cart-short-view>
      </div>
    </div>
  </div>
</div>
